@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
	background: linear-gradient(135deg, #fed6e3 0%, #a8edea 100%) center / cover;
	background-size: 400% 400%;
	animation: animated-gradient 8s ease infinite;
}

@keyframes animated-gradient {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 50% 100%;
	}
	to {
		background-position: 0 0;
	}
}
